.c_frame1321317456-frame,
.c_frame1321317456-frame01 {
  gap: 32px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1279px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_frame1321317456-frame01 {
  gap: 24px;
  max-width: 405px;
  align-items: flex-start;
  flex-direction: column;
}

.c_frame1321317456-frame02 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 405px;
  border-radius: 8px 8px 8px 8px;
}

.c_frame1321317456-frame03 {
  gap: 4px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 381px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_frame1321317456-text {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text01 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_frame1321317456-text02 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text03 {
  color: #828282;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_frame1321317456-frame04 {
  gap: 24px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 405px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_frame1321317456-frame05 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 405px;
  border-radius: 8px 8px 8px 8px;
}

.c_frame1321317456-frame06 {
  gap: 4px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 381px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_frame1321317456-text04 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text05 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_frame1321317456-text06 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text07 {
  color: #828282;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_frame1321317456-frame07 {
  gap: 24px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 405px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_frame1321317456-frame08 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 405px;
  border-radius: 8px 8px 8px 8px;
}

.c_frame1321317456-frame09 {
  gap: 4px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 381px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_frame1321317456-text08 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text09 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_frame1321317456-text10 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_frame1321317456-text11 {
  color: #828282;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}